# LTA DataMall
# LTA DataMall API
LTA_ACCOUNT_KEY=your_account_key_here
LTA_BASE_URL=https://datamall2.mytransport.sg/ltaodataservice

# polling mode 'corridor' or 'manual'
POLL_MODE=corridor

# polling mode 'corridor' (bus service)
BUS_SERVICE_NOS=190,147,2

# polling mode 'manual' (bus stop codes)
BUS_STOP_CODES=83139,83131

# polling Interval
POLL_INTERVAL_SECONDS=60

# rate limiting safeguards
REQUEST_STAGGER_MS=200
MAX_RETRIES=3
BACKOFF_BASE_SECONDS=2

# redpanda / kafka broker config
REDPANDA_BROKER=localhost:19092
TOPIC_NAME=lta.bus-arrival.raw

# minio 
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=urban-transit
MINIO_ENDPOINT=http://127.0.0.1:9000

# motherduck
MOTHERDUCK_TOKEN=your_motherduck_token_here
MOTHERDUCK_DATABASE=urban_transit